:root {
  --text-color: #444;
}
.meal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  color: var(--text-color);
}

.meal h1 {
  margin: 0 0 0.5rem 0;
  font-size: 1.85rem;
  color: var(--text-color);
  font-family: "Calibri"; 
}

.meal ul {
  list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: my-counter;
  padding: 0.5rem;
}

.meal ul li {
  margin-bottom: 8px;
  position: relative;
  line-height: 1.4;
  counter-increment: my-counter;
}

.meal ul li:before {
  content: counter(my-counter);
  color: #4a4a4a;
  font-size: 14px;
  position: absolute;
  left: 0;
  top: 1.5px;
}

.showMoreButton {
  margin: 10px 0px 0px 20px;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #ccc;
  color: #333;
  font-size: 14px;
  cursor: pointer;
}

.showMoreButton:active{
  background-color: #918e87;
}

.showMoreButton:hover{
  text-decoration-line: underline;
}

.examplesource{
  color: grey;
  font-style: italic;
  padding: 0.5rem;
}